<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.webapp.dao.mapper.UserBankCardInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.my.webapp.dao.entity.UserBankCardInfo">
        <id column="id" property="id" />
        <result column="cus_id" property="cusId" />
        <result column="bin_id" property="binId" />
        <result column="bank_number" property="bankNumber" />
        <result column="bank_name" property="bankName" />
        <result column="card_type" property="cardType" />
        <result column="card_number" property="cardNumber" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_time" property="createdTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cus_id, bin_id, bank_number, bank_name, card_type, card_number, updated_time, created_time
    </sql>

</mapper>
